doctype html
head
  meta(charset='UTF-8')
  title Coursarium - Forgot Password
h1 Coursarium
h3 You have requested to reset your password
a(href='${url}') click here to reset your password
br
p If you have not requested this, please ignore this email
br
br
a(href='${url}') ${url}
