<div id="title" *ngIf="courseInfo">
  {{ courseInfo.name }}
</div>

<div id="dash" *ngIf="verified">
  <div class="container">
    <div #sidebar class="sidebar">
      <div class="container">
        <div class="title">
          <span>Professor Menu</span>
        </div>
        <div #item class="item" (click)="showItem(item, announcements)">
          <i class="material-icon">announcement</i><span>Make Announcement</span>
        </div>
        <div #item1 class="item" (click)="showItem(item1, roster)">
          <i class="material-icon">group_word</i><span>Class Roster</span>
        </div>

      </div>
      <div class="minify" (click)="toggleMenu(sidebar)">
        <i class="material-icon">arrow_back_ios</i>
      </div>
    </div>
    <div class="view">
      <div #announcements class="item">
        <!--<div class="title">Make an Announcement</div>-->
        <div class="body">
          <div class="error" *ngIf="annError" [class.success]="annSuccess">{{ annError }}</div>
          <form (ngSubmit)="makeAnnouncement()" [formGroup]="annFormGroup">
            <input type="text" formControlName="title" placeholder="Title" />
            <angular-editor #annEditor formControlName="body" [config]="annEditorConfig"></angular-editor>
            <div class="btn-box">
              <button type="submit">Announce!</button>
            </div>
          </form>
        </div>
      </div>
      <div #roster class="item">
        <div class="body">
          <table id="roster" [class.empty]="courseRoster.length === 0">
            <thead>
            <tr>
              <th>Name</th>
              <th>Email</th>
            </tr>
            </thead>
            <tbody>
              <tr class="empty" *ngIf="courseRoster.length === 0">
                <td colspan="2">
                  No Students Enrolled
                </td>
              </tr>
              <tr *ngFor="let student of courseRoster">
                <td><span>{{ student.last_name }}, {{ student.first_name }}</span></td>
                <td><span>{{ student.email }}</span></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
