:host {
  display: flex;
  flex-direction: row;

  height: 100vh;
  width: 100vw;

  background: rgba(123, 149, 255, 0.21);
}

.logout {
  position: absolute;

  display: inline-block;

  top: 0;
  right: 25px;

  height: 30px;
  line-height: 30px;
  padding: 0 15px;

  background: white;

  cursor: pointer;
  z-index: 100000;
}
