<div class="header">
  Dashboard
</div>

<div id="dash">
  <div class="column">
    <div class="module expand" [class.empty]="!announcements.length">
      <div class="mod-title">
        <span>Announcements</span>
        <div (click)="toggleHidden($event)" class="view-hidden" *ngIf="announcements.length">View Hidden</div>
        <div class="collapse">
          <i (click)="expandModule($event)" class="material-icon">expand_less</i>
        </div>
      </div>
      <div class="mod-body">
        <div class="container">
          <div class="announcement" *ngFor="let announcement of announcements">
            <div (click)="hide($event)" class="hide-btn">hide</div>
            <div class="title">{{ announcement.title }}</div>
            <div class="time">{{ announcement.date.toLocaleDateString() }} - {{ announcement.date.toLocaleTimeString() }}</div>
            <div class="body">
              <div class="user">
                <img *ngIf="!isEmpty(announcement.user.avi)" [src]="announcement.user.avi" alt="{{ announcement.user.first_name }} {{ announcement.user.last_name }}" />
                <i *ngIf="isEmpty(announcement.user.avi)" class="material-icon">account_box</i>
              </div>
              <div class="content">
                <div class="poster">
                  <div class="name">{{ announcement.user.first_name + ' ' + announcement.user.last_name }}</div>
                  <div class="role">{{ announcement.course.course_subject + ' ' + announcement.course.course_number }} - {{ announcement.user.role | titlecase }}</div>
                </div>
                <div class="text" [innerHTML]="announcement.body"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="column"></div>
</div>
