:host {
  display: block;
  width: 300px !important;
}
form {
  height: auto;
  width: 100%;
  
  padding: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  
  input {
    font-size: 16px;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    
    width: 100%;

    transition: .2s;

    &.invalid {
      border: 2px outset #ff5951;
      -webkit-box-shadow: 0 0 3px #ff5951;
      -moz-box-shadow: 0 0 3px #ff5951;
      box-shadow: 0 0 3px #ff5951;
    }

    &:focus {
      outline: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
    }
  }

  #error {
    color: #ff5951;
    text-align: center;
  }

  .btn-group {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;

    button[class^="btn-"],a[class^="btn-"] {
      margin-right: 0;
    }

    & > div {
      color: #2d96f8;
      font-size: 14px;
    }
  }

}
