<navbar></navbar>
<div id="reset-password">
  <div class="card">
    <h1>Reset Password</h1>
    <div class="prof-card">
      <div class="profile">
        <div class="avi" *ngIf="user">
          <img [src]="user?.avi" />
        </div>
        <div class="name">{{ user?.first_name }} {{ user?.last_name }}</div>
      </div>
      <form [formGroup]="formGroup" (ngSubmit)="submit()" >
        <div id="error" *ngIf="error || success" [class.success]="success">{{ success || error }}</div>
        <input #np (focus)="removeInvalid(np)" type="password" formControlName="password" placeholder="New password" />
        <input #cf (focus)="removeInvalid(cf)" type="password" formControlName="confirm" placeholder="Confirm password"/>
        <button type="submit">Reset Password</button>
      </form>
    </div>
  </div>
</div>
