#parent {
  display: block;

  position: absolute;
  top: 0;
  left: 0;

  height: 100%;
  width: 100%;

  min-height: 800px;

  background: url('~src/assets/login-backgrounds/ub.jpg') no-repeat fixed center;

  -webkit-background-size: cover;
  background-size: cover;
  background-filter: brightness(80%);
  transition: .2s;


  z-index: 10000;
  .container {
    position: absolute;
    left: 50%;
    top: 0;

    height: 100%;
    width: 500px;

    margin-left: -250px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .3s ease-in-out .1s;
    will-change: transform;

    #form {
      flex: 0 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;

      overflow: hidden;
      min-height: 300px;


      height: auto;
      width: 500px;

      border-radius: 6px;

      background: white;

      -webkit-box-shadow: 0 0 10px 0 #000000A0;
      -moz-box-shadow: 0 0 10px 0 #000000A0;
      box-shadow: 0 0 10px 0 #000000A0;

      .title {
        &.hide {
          visibility: hidden;
          opacity: 0;
          height: 0;
          flex-basis: 0;
          -webkit-transition: visibility 0s linear 0.2s;
          -moz-transition: visibility 0s linear 0.2s;
          -ms-transition: visibility 0s linear 0.2s;
          -o-transition: visibility 0s linear 0.2s;
          transition: visibility 0s linear 0.2s;
        }
        transition: all .2s;
        overflow: hidden;
        display: block;
        position: relative;

        flex: 0 0 50px;

        height: 50px;
        width: 100%;

        line-height: 50px;
        text-align: center;
        font-size: 26px;

        background: #2d96f8;
        color: white;
      }
      #exit {
        position: absolute;
        top: 2px;
        left: 2px;

        cursor: pointer;
        z-index: 101;
        i {
          font-size: 30px;
        }
      }

      school-finder {
        flex: none;
        z-index: 100;
      }

      .msg {
        display: block;
        visibility: hidden;
        opacity: 0;
        -webkit-transition: visibility 0s linear 0.2s, opacity 0.2s ease-in-out;
        -moz-transition: visibility 0s linear 0.2s, opacity 0.2s ease-in-out;
        -ms-transition: visibility 0s linear 0.2s, opacity 0.2s ease-in-out;
        -o-transition: visibility 0s linear 0.2s, opacity 0.2s ease-in-out;
        transition: visibility 0s linear 0.2s, opacity 0.2s ease-in-out;

        overflow: auto;
        height: 0;

        text-align: center;
        &.show {
          visibility: visible;
          opacity: 1;


          margin-top: 30px;
          height: 130px;
        }

        h1 {
          margin: 0 10px;
        }

        h3 {

        }
      }

      .rest {
        display: flex;
        flex: none;
        visibility: hidden;
        overflow: hidden;
        max-height: 0;
        
        transition: all 0.2s ease-in-out 0s, visibility 0s linear 0.2s;

        .error {
          color: red;
          height: 0;
          width: 100%;
          text-align: center;
          font-size: 16px;

          &.display {
            height: auto;
            padding: 10px 0;
          }

          box-sizing: border-box;
        }

        &.show {
          visibility: visible;
          opacity: 1;
          max-height: 400px;

          -webkit-transition-delay: 0s;
          -moz-transition-delay: 0s;
          -ms-transition-delay: 0s;
          -o-transition-delay: 0s;
          transition-delay: 0s;
        }
        flex-direction: column;
        align-items: center;
      }

      form {
        flex: 1;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        width: 100%;
        margin: 0 15px 15px 15px;

        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;

        button {
          font-size: 18px;
          color: white;

          background: #2d96f8;

          padding: 10px 15px;
          
          border: 2px solid #1360a8;
          border-top: none;
          border-left: none;

          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          border-radius: 5px;
        }

        .fancy-input {
          span {
            font-size: 18px;
            &.typing,&:valid {
              font-size: 12px;
              color: #000000AA;
            }
          }
        }

        input {

          font-size: 18px;

          padding: 5px 5px;

          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;

          outline: none;
          border: none;
          border-bottom: 1px solid rgba(45, 150, 248, 0.41);

          transition: .2s;

          &:focus {
            border-color: #2d96f8;
          }
        }
        .email {
          margin: 20px 0 0 0;
          fancy-input,.at {
            display: inline-block;
            vertical-align: middle;
            font-size: 18px;
          }

          fancy-input {
            width: 150px !important;
          }
        }

        .table {
          margin: 20px 0;
          width: 100%;
          height: auto;

          .row {
            display: flex;
            flex-direction: row;

            .col {
              flex: 0 0 50%;

              -webkit-box-sizing: border-box;
              -moz-box-sizing: border-box;
              box-sizing: border-box;

              padding: 10px;

              input {
                width: 100%;
                max-width: 100%;
              }

            }

          }
        }
      }
    }
  }
}
