<div id='parent'>
  <div class="container">
    <div id="form">
      <a id="exit" routerLink="/"><i class="material-icon">close</i></a>
      <div class="title" [class.hide]="hideTitle && isNumber(school)">
        Create an Account
      </div>
      <form [formGroup]="registerFG" (ngSubmit)="register()">
        <school-finder #schoolFinder [school]="school" (update)="updateSchool($event)" (using)="setHideTitle(!$event)" formControlName="school"></school-finder>
        <div class="msg" [class.show]="!isNumber(school)">
          <h1>Welcome to ClassHub!</h1>
          <br />
          <h3>Find your school above to register</h3>
        </div>
        <div class="rest" [class.show]="isNumber(school)">
          <div class="email">
            <fancy-input [submitted]="submitted" (change)="handleInvalids()" formControlName="email" placeholder="Email" [error]="formInvalids.email" ></fancy-input>
            <div class="at">
              @buffalo.edu
            </div>
          </div>
            <div class="table">
              <div class="row">
                <div class="col">
                  <fancy-input [submitted]="submitted" (updated)="handleInvalids()" formControlName="first_name" placeholder="First name" [error]="formInvalids.first_name"></fancy-input>
                </div>
                <div class="col">
                  <fancy-input [submitted]="submitted" (updated)="handleInvalids()" placeholder="Last name" formControlName="last_name" [error]="formInvalids.last_name"></fancy-input>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <fancy-input [submitted]="submitted" (updated)="handleInvalids()" type="password" placeholder="Password" formControlName="password" [error]="formInvalids.password" ></fancy-input>
                </div>
                <div class="col">
                  <fancy-input [submitted]="submitted" (updated)="handleInvalids()" type="password" placeholder="Confirm password" formControlName="confirm" [error]="formInvalids.confirm" [match]="registerFG.controls.password.value" [submitted]="submitted"></fancy-input>
                </div>
              </div>
            </div>
            <button type="submit">Create My Account</button>
          </div>
        </form>
    </div>
  </div>
</div>
