@import '~src/styles';

.monitor {
  height: 150px;
  width: 150px;

  background: rgba(89, 230, 36, 0.39);

  border: 1px solid black;
  border-radius: 6px;

  display: flex;
  flex-direction: column;

  transition: .2s;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  &.danger {
    background: rgba(255, 0, 0, 0.37);
  }


  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 60px;
    line-height: 75px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
  }

  .message {
    flex: 1;

    display: flex;

    justify-content: center;
    align-items: flex-start;

    font-size: 25px;

    .material-icon {
      @include material-size(60px);
    }
  }


}
