:host {
  display: block;
  flex: 1 1 auto;
  box-sizing: border-box;

  padding: 25px 25px 0 25px;

  width: 100%;

  overflow: hidden;
}

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100%;

  overflow-y: auto;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  max-width: 100%;

  min-width: 400px;

  margin: 0 15px 25px 15px;

  &#faculty {
    width: 400px;
    height: auto;
  }

  &#assignments {
    width: 400px;
    height: auto;
  }

  &#hot-posts {
    min-width: 400px;
    max-width: 800px;
    width: 100%;
    height: auto;
  }

  .title {
    display: block;
    flex: 0;
    font-size: 20px;
    box-sizing: border-box;
    padding: 15px 20px;

    background: indianred;
    color: white;

    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

    span {
      color: white;
    }
  }

  .forum-posts {

    box-sizing: border-box;
    padding: 15px;

    background: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

    height: 100%;

    border-spacing: 0;

    .row {
      display: flex;
      flex-direction: row;
      align-items: center;

      overflow-y: hidden;
      flex-wrap: wrap;
      padding: 0 5px;


      border: 2px solid #2d96f8;
      border-top: none;

      &:nth-child(2) {
        border-top: 2px solid #2d96f8;
      }

      &:first-child {
        width: 100%;
        height: 20px;

        font-size: 12px;
        border: 2px solid transparent;
      }
      height: 60px;
      width: 100%;

      .col {
        flex: 1 1 50px;
        height: 100%;

        margin-bottom: 40px;

        padding: 0 15px;
        box-sizing: border-box;

        &.pad {
          padding-left: 15px;
        }

        &.avi-head::before {
          display: block;
          content: "";
          height: auto;
          width: 45px;
        }

        &.center {
          display: flex;
          justify-content: center;
          flex-direction: column;
          text-align: center;
        }

        &:nth-child(odd) {
          flex: 3 3 150px;
          width: 150px;
        }


        .time {
          font-size: 12px;
        }
      }
    }

    .post {

      padding: 5px;
      box-sizing: border-box;

      overflow: hidden;

      &:first-child {
        margin-top: 0;
      }

      img {
        height: 45px;
        width: 45px;
      }

    }
  }

  .collapser {
    display: flex;
    flex-direction: column;

    box-sizing: border-box;
    padding: 15px;

    background: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);


    .collapsible {
      flex-basis: auto;
      flex-grow: 1;
      flex-shrink: 0;
      overflow: hidden;

      margin: 5px 0;
      transition: .2s;

      &:first-child {
        margin-top: 0;
      }

      &.expand {
        .collapse {
          i {
            -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
          }
        }
      }

      .title-bar {
        height: 50px;
        line-height: 50px;

        background: #2d96f8;
        color: white;
        border-radius: 5px;

        box-sizing: border-box;
        padding: 0 15px;

        display: flex;
        flex-direction: row;
        align-items: center;

        .info {
          flex: 1;

          span {
            font-size: 12px;
            display: inline-block;

            height: 25px;
            width: 25px;

            background: white;
            color: #2d96f8;
            text-align: center;
            line-height: 25px;
            padding-right: .02em;

            margin-left: 10px;

            border-radius: 50%;
          }
        }

        .collapse {
          display: inline-block;
          flex: 0;
          height: 24px;
          margin-left: 15px;
          border: 1px solid white;

          line-height: initial;

          cursor: pointer;

          i {
            transition: .2s;
            will-change: transform;
          }
        }
      }

      .list {
        display: none;

        overflow-y: auto;

        padding: 5px 10px;

        box-sizing: border-box;

        .item {
          display: flex;
          flex-direction: row;
          align-items: center;

          height: 50px;

          padding: 10px;
          box-sizing: border-box;

          &:nth-child(even) {
            background: #ACACAC40;
          }
          &:nth-child(odd) {
            background: #ACACAC20;
          }

          &:first-child {
            margin-top: 0;
          }

          &:last-child {
            margin-bottom: 0;
          }

          .name {
            flex: 1 1 auto;
            font-size: 16px;
          }

          .btns {
            flex: 0 0 100px;
            width: 100px;
            height: 50px;

            a {
              display: inline-flex;
              align-items: center;
              justify-content: center;
              width: 50px;
              height: 50px;
              line-height: 50px;

              border-left: 2px solid transparent;

              box-sizing: border-box;

              text-decoration: none;

              color: #2d96f8 !important;

              &:first-child {
                border-left: none;
              }
            }
          }
        }
      }
    }
  }

  .carousel {
    .cont {
      height: 100%;
      width: 100%;
      overflow-x: auto;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }

    flex: 1 1 275px;
    height: 275px;
    width: 100%;

    overflow: hidden;

    padding: 20px 20px;

    min-height: 250px;

    box-sizing: border-box;

    background: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

    .profile {
      position: relative;
      flex: 0 0 150px;
      height: 200px;
      width: 150px;

      border-radius: 5px;

      margin: 0 20px;
      transition: .3s;
      z-index: 1;

      border: 2px solid #2d96f8;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }

      &.sub {
        transform: scale(0.9);
      }

      img {
        position: absolute;
        left: 20px;
        top: 15px;
        border-radius: 50%;
        height: 110px;
        width: 110px;
        z-index: 2;
      }

      &.open-menu {
        margin-right: 80px;
        .menu {
          transform: translateX(60px);
        }
      }

      .container {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        height: 100%;
        width: 100%;
        background: white;
        border-radius: 5px;
      }

      .menu {
        position: absolute;

        z-index: -1;
        top: 7%;
        right: 0;

        display: flex;
        flex-direction: column;

        width: 65px;
        height: 86%;

        padding-left: 5px;

        transition: .3s;
        will-change: transform;

        box-sizing: border-box;

        background: #2d96f820;
        border: 2px solid #2d96f8;
        border-left: none;

        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        -webkit-box-shadow: inset 7px -1px 11px -6px rgba(0,0,0,0.29);
        -moz-box-shadow: inset 7px -1px 11px -6px rgba(0,0,0,0.29);
        box-shadow: inset 7px -1px 11px -6px rgba(0,0,0,0.29);
        .item {
          flex: 1 1 auto;
          display: flex;
          align-items: center;
          justify-content: center;

          border-top: 1px solid #2d96f840;

          &first-child {
            border-top: none;
          }
        }
      }

      .info {
        position: absolute;
        z-index: 1;
        bottom: 0;
        left: 5px;
        width: 140px;
        height: 60px;

        display: flex;
        flex-direction: column;

        & > span {
          display: block;
          width: 100%;
          height: 20px;
          font-size: 18px;
          line-height: 20px;

          text-align: center;

          box-sizing: border-box;
        }

        .role {
          display: inline-block;
          margin: 10px auto 0 auto;
          height: 20px;
          line-height: 20px;
          width: auto;
          text-align: center;
          background: white;
          span {
            font-size: 14px;
          }
          padding: 0 8px;
          color: #2d96f8;
        }
      }
    }
  }
}
