@import '../../../../../styles';

:host {
  display: block;

  height: 100%;
  width: 100%;

  position: relative;
}

.container {

  height: 100%;
  width: 100%;

}

#drop {
  height: 50px;
  width: 150px;

  display: block;
  position: absolute;

  top: 15px;
  left: 20px;

  background: black;
  border: 2px solid black;

  padding-top: 50px;
  box-sizing: border-box;

  transition: .2s;

  color: white;

  border-radius: 10px;

  overflow: hidden;

  cursor: pointer;

  &.open {

    background: white;

    .item {
      display: block !important;
      color: black;

      &:after {
        color: black;
      }

      &:hover {
        background: #2d96f888;
      }
    }
  }

  .item {
    position: relative;
    color: white;
    height: 50px;
    line-height: 49px;
    font-size: 16px;
    width: 100%;

    padding-left: 15px;

    box-sizing: border-box;

    transition: .2s;

    &:not(:first-child) {
      border-top: 1px solid #ACACAC;
    }

    &:first-child {
      position: absolute;
      top: 0;
      left: 0;

      z-index: 2
    }

    &:after {
      content: '\e5c5';
      @extend .material-icon;

      font-size: 25px;
      position: absolute;
      right: 0;
      top: 0;

      height: 50px;
      width: 50px;

      z-index: 1;

      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      transform: rotate(-90deg);

      transition: .2s;
      will-change: transform;
    }

    &.selected:after {
      transform: rotate(0deg);
    }

    &:not(.selected) {
      display: none;
    }
  }
}
