<div id="course-view" *ngIf="courseInfo">
  <div id="course-info">
    <div fittext class="course-code">
      {{ courseInfo.name }}
    </div>
    <ul>
      <li routerLink="home" routerLinkActive="active">Home</li>
      <li routerLink="syllabus" routerLinkActive="active">Syllabus</li>
      <li *ngIf="enrolled" routerLink="assignments" routerLinkActive="active">Assignments</li>
      <li routerLink="forum" routerLinkActive="active">Forum</li>
      <li *ngIf="enrolled" routerLink="messages" routerLinkActive="active">Messages</li>
    </ul>
  </div>
  <router-outlet></router-outlet>
</div>
