<div id="sidebar" [class.expand]="expand">
  <div id="profile">
    <div class="avi" *ngIf="loading" >
      <loading></loading>
    </div>
    <div class="avi" *ngIf="!loading && !avi">
      <i class="material-icon">account_box</i>
    </div>
    <div class="avi" *ngIf="!loading && avi">
      <img [src]="user.avi" alt="{{ user.first_name
      + ' ' + user.last_name + '\'s Avatar'}}" />
    </div>
    <div class="info" *ngIf="user !== null">
      <div class="name" *ngIf="user.nick_name !== undefined">
        {{ user.nick_name }}
      </div>
      <div class="name" *ngIf="user.nick_name === undefined">
        {{ user.first_name + ' ' + user.last_name }}
      </div>
      <a routerLink="/">Account settings</a>
    </div>
  </div>
  <div id="main-menu">
    <div class="item">
      <div class="icon">
        <i class="material-icon">dashboard</i>
      </div>
      <span>Dashboard</span>
    </div>
  </div>
  <div class="filler"></div>
  <div id="expand" class="icon" (click)="expand = !expand">
    <i class="material-icon">fast_forward</i>
  </div>
</div>
