<div class="header">
  My Courses
</div>

<div id="courses">
  <div #courseElement (click)="activate($event)" (clickOutside)="deactivate(courseElement)" attachOutsideOnClick="true" class="course" *ngFor="let course of courses" data-id="{{ course.course_id }}">
    <div class="icon">
      <i class="material-icon">school</i>
    </div>
    <div class="slider">
      <div class="info">
        <div class="name">{{ course.course_subject + ' ' + course.course_number }}</div>
        <div class="professor">{{ course.professor.first_name + ' ' + course.professor.last_name }}</div>
      </div>
      <div class="menu">
        <a class="item" routerLink="../course/{{ course.course_id }}">
          <i>info</i>
          <span>Course Page</span>
        </a>
        <a class="item">
          <i>assignment</i>
          <span>Assignments</span>
        </a>
        <a class="item">
          <i>description</i>
          <span>Syllabus</span>
        </a>
        <a class="item">
          <i>announcement</i>
          <span>Announcements</span>
        </a>
        <a class="item">
          <i>forum</i>
          <span>Forum</span>
        </a>
        <a class="item">
          <i>chat</i>
          <span>Msg TAs</span>
        </a>
      </div>
    </div>
  </div>
</div>
