<div class="school-finder">
  <input #input (input)="updateText()" (focus)="focus()" (blur)="blur()" type="text" [(ngModel)]="searchText" placeholder="E.g. University at Buffalo (SUNY)" />
  <div #results (clickOutside)="clickOutsideResults($event)" [class.show]="focused || typing" class="results">
    <div *ngFor="let school of schools" (click)="change($event, school.id)" class="result" [attr.data-id]="school.id" [ngStyle]="{'background-color':school.color}">
      <span>{{ school.name }}</span>
    </div>
  </div>
</div>
