@import '../../../../../../styles';
:host {
  display: flex;
  height: 100%;
  width: 100%;

  padding-top: 25px;
  box-sizing: border-box;

  flex-direction: column;
  align-items: center;
}
#title {
  flex: 0 0 75px;
  display: inline-block;
  text-align: center;
  width: auto;
  height: 75px;
  line-height: 75px;

  padding: 0 50px;

  font-size: 30px;

  border-bottom: 2px solid #2d96f8;
}

#dash {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;


  & > .container {
    width: 100%;
    height: 100%;

    @media screen and (max-width: 730px) {
      padding: 0;
      height: 100%;


      .sidebar {
        margin-right: 0 !important;
        box-shadow: none !important;
        border-radius: 0 !important;

        padding-top: 10px !important;

        .minify {
          display: flex !important;
        }

        &.minimize {
          flex: 0 0 0;
        }
      }
      .view {
        background: transparent !important;
        box-shadow: none !important;
        border-radius: 0 !important;
        min-width: 355px;
      }
    }

    display: flex;
    flex-direction: row;

    border-radius: 5px;
    // overflow: hidden;

    background: transparent;
    padding: 25px;
    box-sizing: border-box;

    .sidebar, .view {
      border-radius: 5px;
      box-shadow: 1px 1px 3px #00000050;
    }

    .sidebar {
      flex: 0 0 250px;
      width: 250px;
      height: 100%;
      box-sizing: border-box;
      background: #fafafa;
      margin-right: 20px;
      position: relative;

      & > .container {
        overflow: hidden;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        padding: 52px 10px 10px 10px;

        transition: .2s;
      }

      transition: .3s;

      .minify {
        display: none;

        align-items: center;
        justify-content: center;

        height: 50px;
        width: 100%;

        background: white;

        position: absolute;
        bottom: 0;
        left: 0;

        cursor: pointer;

        i {
          width: 34px;
          text-align: center;
          font-size: 34px;
          will-change: transform;
        }

      }

      &.minimize {
        flex: 0 0 0;

        padding-left: 0;
        padding-right: 0;

        .item {
          padding-left: 0;
          padding-right: 0;
        }

        & > .container {
          padding-top: 10px;
        }

        .title {
          transform: scaleY(0);
          opacity: 0;
        }

        .minify {
          i {
            transform: rotate(180deg);
          }
        }
      }

      .title {
        padding: 5px 10px 10px;
        box-sizing: border-box;
        overflow: hidden;

        position: absolute;
        top: 0;
        left: 0;
        width: 100%;

        span {
          display: block;
          border-bottom: 1px solid #2d96f8;
          font-size: 18px;
          font-weight: bold;
          width: 100%;
          height: 35px;
          line-height: 35px;
        }

        transition: .2s;
        will-change: transform;
      }

      .item {
        width: 100%;
        display: flex;
        align-items: center;
        border-bottom: 2px solid transparent;
        margin: 5px 0;
        padding: 5px 3px;

        box-sizing: border-box;
        cursor: pointer;
        overflow: hidden;
        position: relative;

        i {
          flex: 0 0 35px;
          width: 35px;
          font-size: 30px;
          padding: 0 10px;
        }

        span {
          height: 55px;
          line-height: 55px;
          font-size: 16px;

          display: inline-block;

          overflow: hidden;
          position: absolute;
          left: 65px;
        }

        &.active {
          border-bottom: 2px solid white;
          background: #e2e2e2;

          border-radius: 3px;

          transition: .3s;
        }

      }
    }

    .view {
      flex: 1 1 auto;
      width: 100%;
      height: 100%;
      background: #FFFFFF;
      box-sizing: border-box;

      .item {
        display: none;

        height: 100%;

        &.view-show {
          display: flex;
          flex-direction: column;
        }

        .title {
          display: block;
          width: 100%;
          text-align: center;
          font-size: 25px;

          line-height: 65px;
          height: 65px;
          flex: 0 0 65px;

          padding-top: -5px;
        }

        .body {
          flex: 1 1 auto;
          width: 100%;
          padding: 20px;
          box-sizing: border-box;
          display: flex;
          flex-direction: column;

          .error {
            flex: 0 0 auto;
            display: block;
            width: 100%;
            text-align: center;
            font-size: 14px;
            color: #ff5951 !important;

            padding: 10px 15px;
            box-sizing: border-box;

            &.success {
              color: #1bd598 !important;
            }
          }

          form {
            flex: 1 1 auto;
            display: flex;
            flex-direction: column;

            input {
              flex: 0 0 auto;
              font-size: 20px;
              padding: 8px 5px;
              width: 100%;
              margin: 10px 0;

              box-sizing: border-box;
              background: white;
            }

            angular-editor {
              font-family: Arial, "Times New Roman";
              flex: 1 1 auto;

              background: white;

              ::ng-deep .angular-editor {
                height: 100%;
                flex: 1 1 auto;
                display: flex;
                flex-direction: column;
              }

              ::ng-deep .angular-editor-wrapper {

                flex: 1 1 auto;
                ::ng-deep .angular-editor-textarea {
                  box-sizing: border-box;
                  height: 100%;
                  resize: none;

                }
                ::ng-deep .angular-editor-placeholder {
                  margin-top: 7px;
                }
              }
            }

            .btn-box {
              width: 100%;
              flex: 0 0 70px;
              height: 70px;

              display: flex;
              align-items: center;
              justify-content: center;

              button {
                font-size: 24px;
                padding: 10px 20px;
                background: #2d96f8;
                color: white;
                border-radius: 5px;
                margin-top: 15px;
              }
            }
          }

          #roster {
            width: 100%;
            border: 1px solid #ACACAC;

            max-height: 100%;
            overflow: auto;

            background: white;

            &.empty {
              height: 100%;
            }

            border-collapse: collapse;

            tr, thead {
              height: 37px;
              width: 100%;
              border: 1px solid #ACACAC;
              th, td {
                height: 37px;
                span {
                  width: 100%;
                  padding: 0 15px;
                  box-sizing: border-box;
                  display: inline-block;
                }
              }
              &.empty {
                height: 100%;

                td {
                  &:before {
                    content: '\e811';
                    @extend .material-icon;
                    font-size: 400px;
                    opacity: .3;
                    height: 100%;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 0;
                    color: #2d96f8;
                  }
                  position: relative;
                  text-align: center;
                }
              }
            }
          }
        }
      }
    }
  }

}

