:host {
  display: block;
  width: 300px !important;
}
#login {
  height: auto;
  width: 100%;
  
  padding: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  
  input {
    font-size: 16px;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    
    width: 100%;

    transition: .2s;

    &.invalid {
      border: 2px outset #ff5951;
      -webkit-box-shadow: 0 0 3px #ff5951;
      -moz-box-shadow: 0 0 3px #ff5951;
      box-shadow: 0 0 3px #ff5951;
    }

    &:focus {
      outline: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
    }
  }

  #error {
    color: #ff5951;
    text-align: center;
  }

  .btn-group {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;

    button[class^="btn-"],a[class^="btn-"] {
      margin-right: 0;
    }

    & > div {
      color: #2d96f8;
      font-size: 14px;
    }
  }

}

#rp {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  background: #00000020;

  .rpmenu {
    display: block;
    width: 300px;
    height: 100%;

    background: white;
    box-shadow: 2px 2px 4px #000;
    border-radius: 5px;

    box-sizing: border-box;

    color: black;

    .remove {
      display: inline-block;
      position: absolute;
      top: 0;
      right: 0;
      height: 25px;
      line-height: 25px;
      font-size: 15px;
      text-align: center;
      padding: 5px;
      color: #a7a7a7;
      z-index: 100;
    }

    .container {
      display: none;
      &.show {
        display: flex;
      }
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: calc(100% - 30px);
      width: calc(100% - 30px);

      position: absolute;
      top: 15px;
      left: 15px;
      text-align: center;

      loading {
        height: 100px;
        width: 150px;

      }

      .rphead {
        flex: 0 0 40px;
        line-height: 40px;
        height: 40px;
        padding: 0;
        text-align: center;
        width: 100%;
        color: black;
        font-size: 20px;

        &.error {
          font-size: 14px;
          color: red;
          width: 100%;
        }

      }

      form {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        input {
          font-size: 20px;
          padding: 3px 10px;
          box-sizing: border-box;
          width: 250px;
        }

        .btn-blue {
          background: #2d96f8;
          color: white;

          border-radius: 5px;

          font-size: 16px;

          cursor: pointer;

          margin: 15px 0 0 0;
        }
      }
    }
  }
}
@media screen and (max-width: 800px) {
  #rpmenu {
    border-radius: 0;
  }
}
